<h1>Generate a Playlist</h1>

<table>                         
  <tr>                          
    <th>Artist</th>
    <th>Title</th>
  </tr>
<% @data.each do |data| %>
  <tr>
    <td><%= data.artist %></td>
    <td><%= data.title %></td>
  </tr>
<% end %>

<%= render 'form', party_song: @party_song %>

<%= link_to 'Back', party_songs_path %>
